<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Epita Connect Example - Home</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <a href="{% url 'social:begin' backend='epita' %}">Epita connect</a>
    </body>
</html>